.catalog {
    padding-bottom: 100px;
}
.catalog_tabs {
    margin-top: 70px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;
}
.catalog_tab {
    width: 220px;
    height: 50px;
    border: 2px solid #d0d0d0;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    line-height: 48px;
    transform: skewX(-25deg);
    -webkit-transform: skewX(-25deg);
    -moz-transform: skewX(-25deg);
    -ms-transform: skewX(-25deg);
    -o-transform: skewX(-25deg);
    margin: 0 5px;
    cursor: pointer;
    transition: 0.5s all;
    &:hover {
        box-shadow: 3px 3px 10px $main-color;
        border: none;
    }
    div {
        transform: skewX(25deg);
        -webkit-transform: skewX(25deg);
        -moz-transform: skewX(25deg);
        -ms-transform: skewX(25deg);
        -o-transform: skewX(25deg);
    }
    &_active {
        color: #fff;
        background-color: $main-color;
        border: none;
    }
}
.catalog_content {
    margin-top: 60px;
}